{% extends 'base.html' %}

{% block pagetitle %}
  {{"File Viewer"}}
{% endblock %}

{% block contenttitle %}{% endblock %}

{% block head_extra %}
  <style>
    .full_file {
      max-width: 100%;
      max-height: 100vh;
    }

    .full_file_sidebar p {
      max-width: 100%;
      word-wrap: normal;
      overflow-x: auto;
    }

    .action_button {
      display: block;
    }

    #actions_container {
      overflow-x: auto;
    }

    #actions_container .anchorbutton {
      text-align: left;
      white-space: nowrap;
    }
  </style>
  <script type="module">
    import FileViewState, {QUEUE_RULE, QUEUE_EXEMPTIONS} from "/static/js/FileViewState.js"
    import {renderTagDropdown} from "/static/js/tags.js"

    var state = null;

    window.addEventListener("load", async function () {
      var params = new URLSearchParams(window.location.search);
      var fileId = parseInt(params.get("file") + "");
      var ruleName = params.get("rule");
      var useRuleExemptions = params.get("exemptions") === 'true';

      state = new FileViewState();

      state.setFileId(fileId);
      state.setRuleName(ruleName);
      state.setTagService("my tags");

      if (ruleName != null) {
        if (useRuleExemptions) {
          state.setFileQueueStrategy(QUEUE_EXEMPTIONS);
        } else {
          state.setFileQueueStrategy(QUEUE_RULE);
        }
      }

      state.refresh();

      renderTagDropdown("tag_service_select")
      var elemTagServiceSelect = document.getElementById("tag_service_select")

      elemTagServiceSelect.addEventListener("keydown", function (e) {
        e.preventDefault();
      }, false)

      elemTagServiceSelect.onchange = function (e) {
        state.setTagService(tagServiceSelect.value);
        state.refresh();
      }

      document.onkeydown = async function (e) {
        if (state == null) {
          return false;
        }

        e = e || window.event;
        if (e.ctrlKey && e.keyCode == 90) {
          alert("undo not implemented (yet?)")
          return true;
        }
        var shortcutName = "";
        if (e.ctrlKey) {
          shortcutName += "ctrl+";
        }
        if (e.altKey) {
          shortcutName += "alt+";
        }
        if (e.shiftKey) {
          shortcutName += "shift+";
        }
        shortcutName += e.key;
        shortcutName = shortcutName.toLowerCase();
        // console.log(shortcutName);

        return await !state.onShortcut(shortcutName);
      };
    })
  </script>
{% endblock %}

{% block content %}
  <div class="sidebar full_file_sidebar">
    <h2 id="file_title"></h2>
    <p>
      <a id="direct_download">Direct Download</a>
    </p>

    <!-- <h3>Tools</h3> <button onclick="addTag()">Quick Add Tag</button><br> <button onclick="removeTag()">Quick Remove Tag</button><br> -->

    <h3 id="actions_header">Actions</h3>
    <div id="actions_container"></div>

    <h3 id="tags_header">Tags</h3>
    <select id="tag_service_select"></select>
    <div id="tags_container">
      <ul id="tag_list"></ul>
    </div>

    <h3>Metadata</h3>
    <div id="metadata_container">
      <p>Hash:
        <code id="hash_container"></code>
      </p>
    </div>

    <div id="rule_container" class="noshow">
      <h3 id="rule_header">Rule Info</h3>
      <p id="rule_note"></p>
      <a id="rule_page_link">(Rule Page)</a>
    </div>
  </div>

  <div class="sidebarred_content">
    <div id="file_embed_container" class="full_file_container"></div>
  </div>

{% endblock %}
