{% extends 'base.html' %}

{% block pagetitle %}
  Home
{% endblock %}

{% block contenttitle %}
  Home
{% endblock %}

{% block head_extra %}
  <style>
    #all_rules_table {
      min-width: 300px;
    }
  </style>
  <script type="module">
    import {getRuleInfo, getRuleNames, getRuleFileCount} from "/static/js/rules.js";
    import {renderRows} from "/static/js/html_tables.js";

    async function renderAllRules() {
      var allRulesTableBody = document.getElementById("all_rules_table_body");

      var ruleInfos = await getRuleInfo(null, {includeFileCount: true})

      ruleInfos.sort((a, b) => {
        return b.file_count - a.file_count;
      });

      var data = ruleInfos.map(async ruleInfo => {
        let fileCount = ruleInfo.file_count;
        let ruleName = ruleInfo.name;

        var ruleNameElem = document.createElement("a");
        ruleNameElem.href = "/rule?name=" + ruleName;

        var ruleTitle = document.createElement("span");
        ruleTitle.innerText = ruleName;

        if (ruleInfo.disabled) {
          var icon = ruleInfo.icon_disabled;
        } else if (fileCount === 0) {
          var icon = ruleInfo.icon_done;
        } else {
          var icon = ruleInfo.icon_active;
        }

        if (icon != null) {
          ruleTitle.className = "icon_right icon_right_" + icon;
        }
        ruleNameElem.appendChild(ruleTitle);

        return [
          fileCount < 0
            ? "?"
            : fileCount,
          ruleNameElem
        ]
      });
      data = await Promise.all(data)

      renderRows(allRulesTableBody, data, ["code", null])
    }

    window.addEventListener("load", async function () {
      await renderAllRules();
    })
  </script>
{% endblock %}

{% block content %}

  <div id="all_rules_container">
    <table id="all_rules_table">
      <caption>Overview of all loaded rules</caption>
      <thead>
        <tr>
          <th>Files</th>
          <th>Rule</th>
        </tr>
      </thead>
      <tbody id="all_rules_table_body"></tbody>
    </table>
  </div>

{% endblock %}
