{% extends 'base.html' %}

{% block pagetitle %}
  Search & Destroy
{% endblock %}

{% block contenttitle %}
  Search & Destroy
{% endblock %}

{% block head_extra %}
  <script type="module">
    import {renderTagDropdown} from "/static/js/tags.js"
    import {destroy} from "/static/js/search_and_destroy.js"

    window.addEventListener('load', (e) => {
      renderTagDropdown("input_tag_service")
      var elemTagService = document.getElementById("input_tag_service")

      var elemTagName = document.getElementById("input_tag_name")

      var elemInboxEnabled = document.getElementById("input_enable_inbox")
      var elemArchiveEnabled = document.getElementById("input_enable_archive")

      var elemDestroyButton = document.getElementById("destroy_button")

      async function submit() {}

      elemDestroyButton.onclick = function (e) {
        var tagName = elemTagName.value;

        destroy({
          inbox: elemInboxEnabled.checked,
          archive: elemArchiveEnabled.checked,
          tagName: elemTagName.value,
          tagService: elemTagService.value})
      }
    })
  </script>
{% endblock %}

{% block content %}
  <p>This feature will remove a tag or all tags of a namespace from a given tag service. Please note that this may run slowly, and that this process cannot be easily undone. You should create a backup of your database before proceeding, or otherwise be prepared for unforeseen consequences.</p>

  <p>To specify a namespace, type in the namespace, then append
    <code>:*</code>
    to it. for example, to remove all tags in the
    <code>species</code>
    namespace, type in
    <code>species:*</code>
    as the tag name</p>

  <label for="input_tag_service">Tag service:</label>
  <select id="input_tag_service"></select>
  <br/>
  <br/>
  <label for="input_tag_name">Tag:</label>
  <input id="input_tag_name" type="text"/>
  <br/>
  <br/>
  <input id="input_enable_inbox" type="checkbox" checked="true"/>
  <label for="input_enable_inbox">Enable Inbox</label>
  <br/>
  <input id="input_enable_archive" type="checkbox" checked="true"/>
  <label for="input_enable_archive">Enable Archive</label>
  <br/>
  <br/>
  <button id="destroy_button">
    <span class="icon_left icon_left_bomb">Destroy</span>
  </button>
{% endblock %}
