{% extends 'base.html' %}

{% block pagetitle %}
  Soft Tag Parents
{% endblock %}

{% block contenttitle %}
  Soft Tag Parents
{% endblock %}

{% block head_extra %}
  <script type="module">
    import PendingTagList from "/static/js/PendingTagList.js"

    var pendingParentTags = new PendingTagList("tags_parent_list")
    var pendingChildTags = new PendingTagList("tags_children_list")

    function addTagsToApply(pendingTagList, inputElemName) {
      var inputElem = document.getElementById(inputElemName)

      inputElem.addEventListener('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
          var inputString = inputElem.value;
          inputElem.value = "";
          pendingTagList.toggleTag(inputString);
        }
      })

    }

    window.addEventListener("load", async function () {
      addTagsToApply(pendingParentTags, "parent_input")
      addTagsToApply(pendingChildTags, "child_input")
    });
  </script>
{% endblock %}

{% block content %}

  <div id="section_add">
    <h3>Add New</h3>

    <div class="tag_manager_column two_columns">
      <label>set children</label>
      <div class="tag_block">
        <ul id="tags_children_list"></ul>
      </div>
      <input type="text" id="child_input"/>
    </div>

    <div class="tag_manager_column two_columns">
      <label>set (soft) parents</label>
      <div class="tag_block">
        <ul id="tags_parent_list"></ul>
      </div>
      <input type="text" id="parent_input"/>
    </div>

  </div>

{% endblock %}
