# python
# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class

# python environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/


### For user convenience

# User can put their rules here
my-rules/*

lint_results.*
run.sh
run.bat
