__pycache__/

# vscode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
*.code-workspace
# Local History for Visual Studio Code
.history/


### Build releases :)
build/*
build_key.txt


### For user convenience

# User can put their rules here
my-rules/*

lint_results.*
run.sh
run.bat

