body {
  display: block;
  text-align: left;
  background-color: #0d1117;
  color: #c9d1d9;
  margin: 0;
  font-family: arial, helvetica;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
  font-size: 100%;
  color: #d7ba7d;
}

.content {
  margin: 16px;
}

/* Tables */

table {
  border-collapse: collapse;
}

table th {
  text-align: left;
  background-color: #525252;
}

table tr {
  background-color: #323232;
}

table td,
table th {
  padding: 4px 8px 4px 8px;
}

table td,
table th {
  border: 1px solid #636363;
}

/* Files */

.thumbnail {
  width: 150px;
  height: 125px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 2px 2px;
  border: #91a3b0 solid 1px;
  background-color: #404048;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1500px) {
  .thumbnail {
    width: 85px;
    height: 85px;
  }
}

.thumbnail:hover {
  border: #dfe3e6 solid 1px;
  background-color: #708090;
}

/* Gallery Pagination */

.pagination {
  text-align: center;
  font-family: monospace;
  font-size: 1em;
  padding: 2em 0 1em 0;
  display: block;
}

.pagination button {
  border: 1px solid #404048;
  margin: 0 3px;
  padding: 2px 6px;
}

/* Icons */

.icon_left {
  padding-left: 20px;
}

.icon_right {
  padding-right: 20px;
}
