body {
  display: block;
  text-align: left;
  background-color: #0D1117;
  color: #c9d1d9;
  margin: 0;
  font-family: arial, helvetica;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family:  monospace;
  font-size: 100%;
  color: #D7BA7D;
}

.content {
  margin: 16px;
}

/* Makes blocks of hashes look better and have a vertical scroll instead of
taking up the entire screen */
.hashes code {
  font-size: 8px;
  display: inline-block;
  max-height: 100px;
  overflow-y: scroll;
  width: auto;
}

/* Navigation */

nav {
  background-color: #161B22;
  padding: 8px 16px 8px 16px
}

nav .site-title {
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  margin: 8px 0px 0px 0px;
  padding: 0;
}

nav ul li {
  display: inline;
}

/* Tables */

table{
  border-collapse: collapse;
}

table th {
  text-align: left;
  background-color: #525252;
}

table tr {
  background-color: #323232;
}

table td, table th {
  padding: 4px 8px 4px 8px
}

table td, table th {
  border: 1px solid #636363
}

/* Files */

.thumbnail {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 2px 2px;
  width: 150px;
  height: 125px;
  border: #91a3b0 solid 1px;
  background-color: #404048;
}

.thumbnail:hover {
  border: #dfe3e6 solid 1px;
  background-color: #708090;
}

/* Gallery Pagination */

.pagination {
  text-align: center;
  font-family: monospace;
  font-size: 1em;
  padding: 2em 0 1em 0;
  display: block;
}

.pagination button {
  border: 1px solid #404048;
  margin: 0 3px;
  padding: 2px 6px;
}

/* Icons */

.icon_left {
  padding-left: 20px;
}

.icon_right {
  padding-right: 20px;
}
