{% macro icon_span(text="", icon=None, left=True) -%}
  {% if icon %}
    {% if left %}
      {% set classVal = "icon_left icon_left_" + icon %}
    {% else %}
      {% set classVal = "icon_right icon_right_" + icon %}
    {% endif %}
  {% endif %}
  <span {% if classVal %} class="{{ classVal }}" {% endif %}>{{text}}</span>
{% endmacro -%}

{% macro icon_btn(id=None, onclick=None, text="", icon=None, left=True) -%}
  <button id="{{id}}" onclick="{{onclick}}">
    {{ icon_span(text=text, icon=icon, left=left) }}
  </button>
{% endmacro -%}

<!doctype html>
<html>

  <head>
    <title>
      {% block pagetitle %}{% endblock %}
      | Tag Linter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    {% block head_extra %}{% endblock %}
  </head>

  <body id="body">
    <nav>
      <span class='site-title'>
        <a href="/">
          Tag Linter
        </a>
      </span>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/search">Search</a>
        </li>
      </ul>
    </nav>
    <section class="content">
      <h1>
        <span>
          {% block contenttitle %}{% endblock %}
        </span>
      </h1>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>

</html>
