{% extends 'base.html' %}

{% block pagetitle %}
  {{"File Viewer"}}
{% endblock %}

{% block contenttitle %}{% endblock %}

{% block head_extra %}
  <style>
    .full_file {
      max-width: 100%;
      max-height: 100vh;
    }

    .full_file_sidebar {
      display: block;
      margin-right: 1em;
      font-size: 80%;
      width: 230px;
      float: left;
      overflow: auto;
      max-height: calc(100% - 75);
    }

    .full_file_container {
      display: block;
      float: left;
      width: calc(100% - 300px);
    }

    .tag_list {
      padding: 0 0 0 16px;
      margin: 0;
    }

    @media screen and (max-width: 1000px) {
      .full_file_sidebar {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 16px;
        font-size: 100%;
      }

      .full_file_container {
        display: block;
        float: none;
        width: 100%;
      }
    }
  </style>
  <script src="{{ url_for('static', filename='js/async_helper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tag_presentation_helper.js') }}"></script>
  <script>
    var tagService = "{{server.tag_service}}"

    // we store the actions here for reference later. we will populate them
    // at a later time too.
    var fileActions = {}
    var shortcutsToActionNames = {}

    function onAction(actionName) {
      console.log(fileActions)
      action = fileActions[actionName];
      if (action == null) {
        alert(actionName + " cannot be completed because it has no archetype.");
        return;
      }

      var archetype = action.archetype;
      if (archetype == null) {
        alert(actionName + " does not have an archetype, doing nothing");
        return;
      }

      alert(actionName + " has an unknown/unsupported archetype: '" + archetype + "'")
    }

    function onShortcut(shortcut) {
      actionName = shortcutsToActionNames[shortcut];
      if (actionName != null) {
        onAction(actionName);
      }
    }

    /** creates a text-based element e.g. <p> */
    function textElem(type, text) {
      var e = document.createElement(type);
      e.textContent = text;
      return e;
    }

    /** Creates an element to display the file in based on the mimetype */
    function createEmbedElement(metadata, src) {
      var mime = metadata.mime;

      // i do URI encoding out of paranoia
      var fileID = metadata.file_id
      var fileIDURI = encodeURI(fileID + "")

      var classNameFullFile = "full_file"

      /** Creates a source element, needed for some cases below */
      function createSourceElement() {
        var source = document.createElement("source");
        source.src = src;
        source.type = mime;
        return source;
      }

      if (mime.startsWith("image")) {
        // for images, create a simple img element
        var e = document.createElement("img");
        e.src = src;
        e.className = classNameFullFile;
        return e;
      } else if (mime.startsWith("audio")) {
        // audio -> audio element
        var e = document.createElement("audio");
        e.className = classNameFullFile;
        e.controls = true;
        e.appendChild(createSourceElement());
        return e
      } else if (mime.startsWith("video")) {
        // videos -> video element
        var e = document.createElement("video");
        e.className = classNameFullFile;
        e.controls = true;
        e.appendChild(createSourceElement());
        return e
      } else {
        // We don't know how to render that file so we throw up the thumbnail
        var e = document.createElement("div");
        e.appendChild(textElem("span", "The MIME type of this file is not supported."));
        e.appendChild(document.createElement("br"));
        var img = document.createElement("img");
        img.className = "thumbnail";
        img.src = "/files/thumbnail/" + fileIDURI;
        e.appendChild(img)
        return e
      }
    }

    function getDisplayTagsFromMetadata(service, metadata) {
      sntstdt = metadata['service_names_to_statuses_to_display_tags'];
      stdt = sntstdt[service];
      display_tags = stdt['0']
      return display_tags
    }

    function getTagsFromMetadata(service, metadata) {
      sntstt = metadata['service_names_to_statuses_to_tags'];
      stt = sntstt[service];
      tags = stt['0']
      return tags
    }

    async function applyTags(metadata) {
      var tagsContainer = document.getElementById("tags_container")
      tagsContainer.innerHTML = ""
      tagsContainer.appendChild(createTagList(getDisplayTagsFromMetadata(tagService, metadata)))
    }

    function createActionButton(action) {
      var span = document.createElement('span');
      span.innerText = action.name;
      span.className += "icon_left icon_left_" + action.icon;

      var e = document.createElement('button');
      e.className = "anchorbutton";
      e.appendChild(span)
      e.onclick = () => onAction(action.name);
      return e;
    }

    async function setActions(actions) {
      if (actions == null) 
        actions = [];
      
      var actionsContainer = document.getElementById("actions_container");
      actionsContainer.innerHTML = ""

      var defaultActions = await httpGETJSON('/api/server/get_global_file_actions');
      actions.concat(defaultActions);

      fileActions = {}
      shortcutsToActionNames = {}

      for (var i = 0; i < defaultActions.length; i++) {
        action = defaultActions[i];
        elem = createActionButton(action);
        actionsContainer.appendChild(elem);
        fileActions[action.name] = action
        actionsContainer.append(document.createElement("br"))
      }
    }

    async function setRule(ruleName) {
      var ruleHeader = document.getElementById("rule_header");
      var ruleContainer = document.getElementById("rule_container");

      ruleHeader.innerText = "Rule: " + ruleName
      ruleHeader.style = ""

      var ruleData = await httpGETJSON('/api/rules/get_rule?name=' + encodeURI(ruleName))

      ruleContainer.innerHTML = ""

      if (ruleData.note) {
        var ruleNoteElem = document.createElement("p");
        ruleNoteElem.innerText = ruleData.note;
        ruleContainer.appendChild(ruleNoteElem);
      }

      var ruleLinkElem = document.createElement("a");
      ruleLinkElem.innerText = "(Rule Page)";
      ruleLinkElem.href = "/rules/" + encodeURI(ruleName)
      ruleContainer.appendChild(ruleLinkElem);

      await setActions(ruleData.actions);

      console.log(ruleData)
    }

    async function applyFileMetadata(metadata) {

      var fileID = metadata.file_id;
      var mime = metadata.mime;
      var src = "/files/full/" + fileID;

      document
        .getElementById("embed_target")
        .appendChild(createEmbedElement(metadata, src));

      var title = "File #" + metadata.file_id;

      document
        .getElementById("file_title")
        .textContent = title;
      // elem("uploader-name").textContent = metadata.uploader;
      // elem("uploaded-time").textContent = timeToSring(metadata.uploaded);

      var elemDownload = document.getElementById("direct_download");
      elemDownload.innerHTML = "<span>Direct Download (<code>" + metadata.mime + "</code>)</span>";
      elemDownload.href = src;

      await applyTags(metadata)
    }

    async function setFile(fileID) {
      httpGETJSON('/api/file/get_metadata?file_id=' + encodeURI(fileID)).then(applyFileMetadata)
    }

    window.addEventListener("load", function () {
      var params = new URLSearchParams(window.location.search);
      var file = params.get("file");
      var rule = params.get("rule")

      if (file != null) {
        setFile(file)
      }

      if (rule != null) {
        setRule(rule)
      } else {
        setActions(null)
      }
    })
  </script>
{% endblock %}

{% block content %}
  <div class="full_file_sidebar">
    <h2 id="file_title"></h2>
    <p>
      <a id="direct_download">Direct Download</a>
    </p>

    <!-- <h3>Tools</h3> <button onclick="addTag()">Quick Add Tag</button><br> <button onclick="removeTag()">Quick Remove Tag</button><br> -->

    <h3 id="actions_header">Actions</h3>
    <div id="actions_container"></div>

    <h3 id="tags_header">Display Tags ({{server.tag_service}})</h3>
    <div id="tags_container"></div>

    <h3 id="rule_header" style="display: none;">Rule Info</h3>
    <div id="rule_container"></div>
  </div>

  <div id="embed_target" class="full_file_container"></div>

{% endblock %}
