{% extends 'base.html' %}

{% block pagetitle %}
  Home
{% endblock %}

{% block contenttitle %}
  Home
{% endblock %}

{% block content %}

  {% set rules = server.get_rules() %}
  {% if rules and len(rules) > 0%}
    <table>
      <thead>
        <tr>
          <th>Files</th>
          <th>Rule</th>
        </tr>
      </thead>
      <tbody>
        {% for rule in rules %}
          <tr>
            <td style='text-align:right'>
              {% if rule.is_enabled() %}
                <code>{{ len(rule.get_files(rule)) }}</code>
              {% else %}
                Disabled
              {% endif %}
            </td>
            <td>
              <a href='/rules/{{ rule.name }}'>
                {{ icon_span(text=rule.name, icon=rule.get_icon(), left=False) }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>no rules defined :(</p>
  {% endif %}

  {% set summary = server.get_summary() %}
  <h2>Summary</h2>
  {% for section in summary %}
    <h3>{{section.name}}</h3>
    <table>
      {% for key_val in section.get('value') %}
        <tr>
          <td>
            <span>{{ key_val.get('name') }}</span>
          </td>
          <td>
            <code>{{ key_val.get('value') }}</code>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endblock %}
