{% extends 'base.html' %}

{% block pagetitle %}
  Home
{% endblock %}

{% block contenttitle %}
  Home
{% endblock %}

{% block head_extra %}
  <script type="module">
    import {getRuleInfo, getRuleNames, getRuleFileCount} from "/static/js/rules.js";
    import {renderRows, renderDataAsText} from "/static/js/html_tables.js";

    async function renderRuleName(ruleName) {
      var anchor = document.createElement("a");
      anchor.href = "/rules/" + ruleName;

      var ruleInfo = await getRuleInfo(ruleName);

      var ruleTitle = document.createElement("span");
      ruleTitle.innerText = ruleName;
      var icon = ruleInfo.icon;
      if (icon != null) {
        ruleTitle.className = "icon_right icon_right_" + icon;
      }
      anchor.appendChild(ruleTitle);

      return anchor;
    }

    async function renderAllRules() {
      var allRulesTableBody = document.getElementById("all_rules_table_body");

      var data = (await getRuleNames()).map(async ruleName => {
        let fileCount = await getRuleFileCount(ruleName).catch(x => {
          console.error(x);
          return "?"
        });
        return [fileCount, ruleName]
      });
      data = await Promise.all(data)

      renderRows(allRulesTableBody, data, ["code", renderRuleName])
    }

    window.addEventListener("load", async function () {
      await renderAllRules();
    })
  </script>
{% endblock %}

{% block content %}

  <div id="all_rules_container">
    {% set rules = server.get_rules() %}
    <table id="all_rules_table">
      <caption>Overview of all loaded rules</caption>
      <thead>
        <tr>
          <th>Files</th>
          <th>Rule</th>
        </tr>
      </thead>
      <tbody id="all_rules_table_body"></tbody>
    </table>
  </div>

  {% set summary = server.get_summary() %}
  <h2>Summary</h2>
  {% for section in summary %}
    <h3>{{section.name}}</h3>
    <table>
      {% for key_val in section.get('value') %}
        <tr>
          <td>
            <span>{{ key_val.get('name') }}</span>
          </td>
          <td>
            <code>{{ key_val.get('value') }}</code>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endblock %}
