{% extends 'base.html' %}

{% block head_extra %}
  <script type="module">
    import {renderGallery} from "/static/js/galleries.js"
    import {httpGetJson} from "/static/js/http_helper.js"

    var linterRuleTag = "{{ rule.get_noncompliance_tag() }}"
    var linterRuleTagURI = encodeURI(linterRuleTag)

    var ruleName = "{{ rule.get_name() }}"
    var ruleNameURI = encodeURI(ruleName)

    var applyLinterTagURL = "/api/rules/apply_noncompliance_tag?name=" + ruleNameURI

    function applyLinterTagSetup() {
      var btn = document.getElementById("mass_tag_button");
      btn.onclick = async function (e) {
        var linterRuleTag = "{{ rule.get_noncompliance_tag() }}"

        if (linterRuleTag == null) 
          return;
        
        console.log("Got tag name: '" + linterRuleTag + "'")

        var preview = await httpGetJson(applyLinterTagURL + "&tag=" + linterRuleTagURI + "&preview=true")
        console.log("preview: " + JSON.stringify(preview))

        var apply = confirm("the tag '" + preview.tag + "' will be added to " + preview.added + " files and removed from " + preview.removed + " on the service '" + preview.tag_service + "'. Is this OK?")

        if (apply) {
          console.log('applying...')
          let response = await httpGetJson(applyLinterTagURL + "&tag=" + linterRuleTagURI + "&preview=false")
            .then(x => "Sync succesful")
            .catch(x => "Failed: " + x);
          console.log('response: ' + JSON.stringify(response))
        }
      }
    }

    async function getRuleFiles(rule) {
      return httpGetJson('/api/rules/get_files?name=' + ruleNameURI).catch(console.error)
    }

    async function getRuleExemptions(rule) {
      return httpGetJson('/api/rules/get_exemptions?name=' + ruleNameURI).catch(console.error)
    }

    window.addEventListener("load", async function () {
      applyLinterTagSetup()

      console.log("creating galleries for rule '" + ruleName + "', uri '" + ruleNameURI)

      renderGallery(await getRuleFiles(), {
        galleryElemID: "noncompliance_gallery",
        ruleName: ruleName
      })
      renderGallery(await getRuleExemptions(), {
        galleryElemID: "exempt_gallery",
        ruleName: ruleName,
        exemptions: true
      })
    })
  </script>
{% endblock %}

{% block pagetitle %}
  Rule:
  {{ rule.name }}
{% endblock %}

{% block contenttitle %}{% endblock %}

{% block content %}

  {% set files = rule.get_files() %}
  {% set files_count = len(files) %}

  <div class="sidebar" id="side_info">

    <h2>{{ rule.name }}</h2>

    {% if rule.note %}
      <p>{{ rule.note }}</p>
    {% endif %}

    <p>
      There are
      <code>{{ files_count }}</code>
      files detected by this rule
    </p>

    <h2>Actions</h2>

    <h4>Sync Rule Tag</h4>
    <span>
      This action will automatically add the
      <code>{{ rule.get_noncompliance_tag()}}</code>
      tag to all of the noncompliant files, and remove it from files that are currently compliant. This will allow you to search for these files in other applications. Remember to re-sync once you are done making your changes.
    </span>
    <ul>
      <li>
        {{ icon_btn(id='mass_tag_button', text="Sync Rule Tag...", icon='tag_blue_edit') }}
      </li>
    </ul>

    <h2>Metadata</h2>
    <p>UID:
      <code>{{ rule.get_uid() }}</code>
    </p>
    <p>Version:
      <code>{{ rule.get_version() }}</code>
    </p>
  </div>

  <div class="sidebarred_content" id="all_galleries_container">
    <div id="noncompliance_gallery_container">
      <h2>Files</h2>
      <div class="gallery" id="noncompliance_gallery"></div>
    </div>

    <div id="exempt_gallery_container">
      <h2>Exemptions</h2>
      <div class="gallery" id="exempt_gallery"></div>
    </div>
  </div>

{% endblock %}
